@font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica-Light.ttf") format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Futura Medium BT";
    src: url("/fonts/Futura-Medium-BT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.MuiList-root {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    /* user-select: none; */
}

.MuiTextField-root {
    width: 100%;
}

/* .slide-routes {
    width: 100%;
    overflow-y: auto!important;
    height: 100%;

    .item {
        width: 100%;
        height: 100%;

    }
} */

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form {
    display: contents;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    overflow-x: hidden;
    height: 100%;
}

#root {
    height: 100%;
}

section {
    display: contents;
}

.MuiPaper-root {
    display: flex;
    flex-shrink: 0
}

.MuiBox-root {
    display: flex;
    flex-shrink: 0
}

img {
    object-fit: contain;
}

.MuiTab-root {
    text-transform: none!important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::selection {
    color: white;
    background: #00AFEF
}

.link {
    cursor: pointer;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.react-flow__panel {
    display: none;
}

.MuiDataGrid-panelWrapper {
    background-color: #131b26;
}